* {
  font-family: "Prompt";
}
.header.active {
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.icon_phone {
  width: 20px;
  margin-top: 20px;
  border-radius: 50%;
}

#hero h2 {
  /* font-size: 50px; */
  font-weight: bold;
  color: #7f5698;
}
#hero h2 span {
  color: black;
  padding-top:  20vh;
} 


#collasible-nav-dropdown {
  color: rgb(0, 0, 0);
}

.Navbarcolor {
  background: #7f5698;
  color: #fff;
}
/* .Navbar{
  position:fixed;
} */

#text-header {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 60vh;
  background: #f1f1f1;
  /* background-image: url("../../public/images/background1.jpg"); */
}

#hero .container {
  padding-top: 0px;
}

#hero h1 {
  font-weight: bold;
  color: rgb(43, 43, 43);
}

#hero p {
  color: rgb(43, 43, 43);
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #7f5698;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #4c2f5c;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}
#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .hero-img {
  text-align: center;
}

#hero .hero-img img {
  width: 45%;
  margin-right: 80px;
  /* text-align: center; */
}

@media (max-width: 991px) {
  #text-header {
    display: none;
  }

  #hero {
    width: 100%;
    height: 110vh;
  }

  /*แก้รูปตรงนี้*/
  /* #hero .hero-img img {
    display: none;
  } */
  #hero .hero-img img {
    width: 50%;
    margin-right: 150px;
  }
}

@media (max-width: 850px) {
  #hero {
    height: 80vh;
    text-align: center;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 0px;
  }
}

@media (max-width: 575px) {
  #hero {
    padding: 0px;
    height: 135vh;
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
    margin-right: 90px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    margin-top: 0px;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@media (max-width: 380px) {
  #hero {
    padding: 0px;
    height: 140vh;
    text-align: center;
    padding: 10px;
  }

  #hero h1 {
    font-size: 23px;
    line-height: 36px;
    margin-top: 0px;
  }
}
